extends ./layout/index

block slider 
    .slider
        h1 Rio de Janeiro 
        em Aventura


block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Donec cursus tortor faucibus tortor lacinia, at tempor arcu consectetur. Donec commodo justo non turpis tincidunt, et ultricies dui rutrum. Sed id mattis ex. Donec semper sapien vitae est molestie, ut ultricies lorem pretium.
                p Aliquam suscipit vestibulum orci, ac elementum urna pretium sit amet. Praesent consequat interdum molestie. Nam magna enim, varius nec sollicitudin id, accumsan nec velit. Maecenas et nunc maximus augue ullamcorper molestie.
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes
    
    .descuento 
        .container 
            .row
                .col-md-6 
                    .contenido 
                        h3 5% de descuento 
                        p.titulo Viaje a Canadá
                        p.fecha 20 de Marzo de 2022 ─ 28 de Marzo de 2022
                        p.precio $2,500 USD 
    .container
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales
